
:root {
    --fuentePrincipal: 'Lobster', cursive;
    --fuenteSecundaria: 'Arsenal', sans-serif;
    --fuenteParrafos: 'Overpass', sans-serif;
}

/*
hack para solucionar el problema del modelo de caja
*/
html {
    box-sizing: border-box;

    /*
    hack para resetear la unidad REM de 15px a 10px
    por cada REM:
    */
    font-size: 62.5%;
}


body {
    /*
    segunda parte del hack para resetear la unidad REM de 15px a 10px
    por cada REM:
    */
    font-size: 16px;

    /*Este codigo va a solicionar los problemas del BoxModel*/
    box-sizing: inherit;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*
Estilos generales
*/
h1 {
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 4.5rem;
    letter-spacing: 1rem;
}

h2 {
    text-align: center;
    font-family: var(--fuenteSecundaria);
    font-size: 3.5rem;
}

h3 {
    text-align: center;
    font-family: var(--fuenteSecundaria);
    font-size: 2.5rem;
}

p {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--fuenteParrafos);
}

ul li {
    list-style-type: none;
}

a {
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--fuenteParrafos);
}

/*Alineando elementos del HEADER*/
.header {
    display: flex;
    flex-direction: column;
}

.menu-superior__elementos {
    display: flex;
    justify-content: center;
    column-gap: 4rem;
}

.menu {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

/*
Alienado y estilizado del elemento HERO
*/
.hero{
    position: relative;
    background-image: url(../assets/images/perfumes.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.bg-hero {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.bg-botton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 2.5rem 3.7rem;
    padding: 1.5rem;
    background-color: rgba(0,0,0,0.4);
}
.bg-botton__titulo{
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.5rem;
    word-spacing: 0.5rem;
}

.bg-botton__boton {
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.15rem;

    background-color: #ffffff;
    border: 1px solid #ffffff;
    width:  90%;
    height: 4.4rem;

    padding: 0.75rem 1.875rem;
}

/*
Estilizado y alineado de los elementos de la sección principal
*/

.container {
    max-width: 120rem;
}

.perfume {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
}

@media (max-width: 768px) {
    .contaniner-image {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        row-gap: 1rem;
    }
}

@media (min-width: 768px) { 
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
        /*
        Alineando elementos dentro de las celdas
        */
        justify-items: center;
        align-items: center;
    }
}

/*Agregando estilos a los menus del HEADER*/
.menu-inferior__item {
    color: #000000;
    padding: 1rem;
}

.menu-superior__item {
    color: #000000;
    padding: 1rem;
}

.menu-superior__item:hover {
    border-bottom: 0.15rem solid #000000;
    transition: border 1s ease-in-out;
}
.menu-inferior__item:hover  {
    border-bottom: 0.15rem solid #000000;
    transition: border 1s ease-in-out;
}


/*
Agregando estilos y alineación al footer
*/

.footer {
    background-color: #f0ede8;
    padding: 2rem;
}

.logo-contacto {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}
.bg-redes {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    align-items: center;

    column-gap: 2rem;

}

/*Agregando estilos a los elementos <a></a> del footer*/
.atencion-footer__item {
    color: #000000;
}
.contacto-footer__item {
    color: #000000;
}
.legales-footer__item {
    color: #000000;
}

/*Agregando separación entre elementos*/
.atencion-footer li{
    padding-top: 1rem;

}
.contacto-footer li{
    padding-top: 1rem;

}
.legales-footer li{
    padding-top: 1rem;

}

/*Agregando transición*/
.atencion-footer__item:hover {
    border-bottom: 0.15rem solid #000000;
    transition: border 1s ease-in-out;
}
.contacto-footer__item:hover {
    border-bottom: 0.15rem solid #000000;
    transition: border 1s ease-in-out;
}
.legales-footer__item:hover {
    border-bottom: 0.15rem solid #000000;
    transition: border 1s ease-in-out;
}
