
:root {
    --fuentePrincipal: 'Lobster', cursive;
    --fuenteSecundaria: 'Arsenal', sans-serif;
}

/*
hack para solucionar el problema del modelo de caja
*/
html {
    box-sizing: border-box;

    /*
    hack para resetear la unidad REM de 15px a 10px
    por cada REM:
    */
    font-size: 62.5%;
}


body {
    /*
    segunda parte del hack para resetear la unidad REM de 15px a 10px
    por cada REM:
    */
    font-size: 16px;

    /*Este codigo va a solicionar los problemas del BoxModel*/
    box-sizing: inherit;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*
Estilos generales
*/
h1 {
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 4.5rem;
    letter-spacing: 1rem;
}

h2 {
    text-align: center;
    font-family: var(--fuenteSecundaria);
    font-size: 3.5rem;
}

h3 {
    text-align: center;
    font-family: var(--fuenteSecundaria);
    font-size: 2.5rem;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
