
:root {
    --fuentePrincipal: 'Lobster', cursive;
    --fuenteSecundaria: 'Arsenal', sans-serif;
    --fuenteParrafos: 'Overpass', sans-serif;
}

/*
hack para solucionar el problema del modelo de caja
*/
html {
    box-sizing: border-box;

    /*
    hack para resetear la unidad REM de 15px a 10px
    por cada REM:
    */
    font-size: 62.5%;
}


body {
    /*
    segunda parte del hack para resetear la unidad REM de 15px a 10px
    por cada REM:
    */
    font-size: 16px;

    /*Este codigo va a solicionar los problemas del BoxModel*/
    box-sizing: inherit;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*
Estilos generales
*/
h1 {
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 4.5rem;
    letter-spacing: 1rem;
}

h2 {
    text-align: center;
    font-family: var(--fuenteSecundaria);
    font-size: 3.5rem;
}

h3 {
    text-align: center;
    font-family: var(--fuenteSecundaria);
    font-size: 2.5rem;
}

p {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--fuenteParrafos);
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*Alineando elementos del HEADER*/
.header {
    display: flex;
    flex-direction: column;
}

.menu-superior__elementos {
    display: flex;
    justify-content: center;
    column-gap: 4rem;
}

.menu {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

/*
Alienado y estilizado del elemento HERO
*/
.hero{
    position: relative;
    background-image: url(../assets/images/perfumes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.bg-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

